<h1>CHANGE Cohorts</h1>
<p class="info">Click on a CHANGEr to view their profile, or click on the name of the cohort to view their page.</p>
<div class="row">
  <% @cohorts.each do |c| %>
      <div class="form2"><%= render 'partials/members', cohort: c, members: c.users %></div>
  <% end %>
</div>
