<%= render 'partials/flash' %>

<%= link_to 'Create Task', new_task_path, class: "btn btn-right" %>
<h1>Pending Tasks</h1>
<p class="info">Click on the description of a task to see more info about it, or mark as complete.</p>
<div class="row">
  <%= render 'partials/table_tasks', tasks: @tasks.incomplete %>
</div>
<br>
<h1>Completed Tasks</h1>
<div class="row">
  <%= render 'partials/table_tasks', tasks: @tasks.completed %>
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form#claim').submit(function(event) {
      event.preventDefault();
      alert("Prevented");
      var claimed = $(this).serialize();
      $.post('/user_tasks', claimed);
      $("#claimed_by").text(current_user.full_name)
    });
  });
</script>
