<form id="claim_task" action="/user_tasks" method="POST">
  <input type="hidden" name="user_id" value="<%= session[:user_id] %>">
  <input type="hidden" name="task_id" value="<%= task.id %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Claim Task" class="btn">
</form>

