<h1 class="form-heading group-members"><%= link_to group.name, group %></h1>
<div class="group-member">
  <% members.each do |m| %>
    <p><%= link_to m.full_name, group_user_path(group, m) %></p>
  <% end %>
</div>
