<h1 class="form-heading"><%= link_to cohort.name, cohort %></h1>
<% members.each do |m| %>
  <p><%= link_to m.full_name, cohort_user_path(cohort, m) %> (<%= m.tasks.incomplete.count %>)</p>
<% end %>
