<%= render 'partials/flash' %>

<h1>CHANGE Fellows</h1>
<ul>
  <% @users.each do |u| %>
    <li><%= link_to u.full_name, user_path(u) %> | <%= link_to u.cohort.name, cohort_path(u.cohort) %></li>
  <% end %>
</ul>
